<div class="row" >
  <div class="items-container" >
    <div class="col-md-4" ng-repeat="item in menu.items">
      <h4>{{item.name}}</h4>
      <p>Rating: {{item.rating}}
        <span ng-if="item.rating > 4.0" ng-class="{highlight: item.rating > 4.5}"> - People love this item!</span>

        <button ng-click="menu.increment(item)">+</button>
        <button ng-click="menu.decrement(item)">-</button>

      </p>
      <!--<p>Image: {{item.img}}</p>-->
      <img class="item__image" ng-src="images/yeoman.png" alt="{{item.name}}">

      <div class="well">
        <select ng-model="item.meal" name="">
          <option value="breakfast">Breakfast</option>
          <option value="lunch">Lunch</option>
          <option value="dinner">Dinner</option>
        </select>
        <button ng-click="menu.chooseItem(item.meal, item.name)">Select Item</button>
      </div>

      <!--<p>-->
        <!--<textarea ng-model="menu.newReview" name="menu.review" rows="3" cols="40"></textarea>-->
      <!--</p>-->
      <!--<p>-->
        <!--{{item.newReview}}-->
        <!--<span ng-if="!item.newReview">Why not write a review!</span>-->
      <!--</p>-->
    </div>
  </div>
</div>

